@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
	background-color: #222226;
	color: white;
	width: 100%;
	height: auto;
	font-weight: 400;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-transform: none;
}

a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
		text-decoration: none;
}

p {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: #00E7A4;
	font-weight: 401;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-weight: 400;
	overflow: hidden;
	background-color: #222726;
}

header li {
	float: left;
	margin-left: 8px;
}

header li a {
	display: block;
	text-align: center;
	padding: 12px 14px;
	transition: background-color .2s ease-in-out;
	border-radius: 50px;
}

header li a:hover {
	background-color: #00E7A4;
}

.hero-content {
	position: absolute;
	height: 15%;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
}

.product-link {
	width: auto;
	margin: 0 auto;
	border-bottom: 2px solid transparent;
	transition: 0.4s border-bottom ease-in-out;
}

.product-link:hover {
	border-bottom: 2px solid #fff;
}

hr {
	border: 0;
	height: 2px;
	background: #00E7A4;
}

footer {
	position: absolute;
	bottom: 0;
	padding: 6px 0;
	width: 100%;
}

footer a:link,
footer a:visited {
	display: inline-block;
	padding: 0 3px;
	vertical-align: middle;
	color: #fff;
	transition: font-size .2s ease-in-out;
}

footer a:hover,
footer a:active {
	font-size: 125%;
}
