@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
    background-color: #222226;
    color: white;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-transform: none;
}

p {
   font-family: 'Montserrat', sans-serif;
}

h2 {
   color: #e5c530;
   font-weight: 400;
   text-align: center;
}

a {
    color: white;
    font-weight: 400;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222226;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

hr.style {
    border: 0;
    height: 2px;
    background: #e5c530;
}

